{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Marvel fans rejoice!</h2>
            <h5>API tool for Marvel Fans to track their favorite heroes!</h5>
            <div>
                <a href="https://github.com/pateltarun1211/week6-marvel-api"><button class="btn btn-primary">View Our Docs on Github</button></a>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="../../static/images/logo_marvel_api.jpeg" alt="Hero Header Image" class="header-image">
        </div>
    </header>

<!-- Middle -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Organize all your heroes</h2>
            <p>Track and organize your favorite heroes from the Marvel Universe</p>
        </div>
    </section>

<!-- Features -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api-image.png" alt="API" id="api-image">
            <h4>API Routes</h4>
            <p>
                Not ready for the newest thing; we are compatible with Traditional API routes.
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/GraphQL_Logo.svg.png" alt="graphql-image" id="graphql-image">
            <h4>GRAPHQL API Routes</h4>
            <p>
                Collect all data from one endpoint!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/Postgresql_elephant.svg.png" alt="postgresql" id="database-image">
            <h4>Postgresql Database</h4>
            <p>
                You like elephants? We use a secure Postgres Database.
            </p>
        </div>
    </section>

<!-- Community -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/avengers.png" alt="avengers image" id="avengers-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Collaborate with other superfans!</h4>
            <p>
                Have trouble not talking about super heroes?
                Visit our Github and connect with other like minded individuals!
            </p>
            <div>
                <a href="https://github.com/pateltarun1211/week6-marvel-hero-api.git"><button class="btn btn-primary">View Our Docs on Github</button></a>
            </div>
        </div>
    </section>


<!-- Footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/logo_marvel_api.jpeg" alt="Marvel API Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>About Marvel API</p>
                <p>Donate</p>
                <p>Tell your friends!</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>About Marvel API</p>
                <p>Donate</p>
                <p>Tell your friends!</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>About Marvel API</p>
                <p>Donate</p>
                <p>Tell your friends!</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>About Marvel API</p>
                <p>Donate</p>
                <p>Tell your friends!</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>About Marvel API</p>
                <p>Donate</p>
                <p>Tell your friends!</p>
            </div>
        </div>
    </footer>
</div>



{% endblock content %}